* {
  box-sizing: border-box;
}
a {
  cursor: pointer;
}
body {
  color: #222;
}

img {
  max-width: 100%;
}

main {
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 20px;
  align-items: center;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

header nav {
  display: flex;
  gap: 15px;
}

div.post {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-columns: 0.9fr 1.1fr; */
  gap: 20px;
  margin-bottom: 10px;
  border: #d5caca solid;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 6px 6px 10px #cdc5c5;
}

@media screen and (min-width: 600px) {
  div.post {
    grid-template-columns: 0.9fr 1.1fr;
  }
}

div.post div.texts h2 {
  margin: 0;
  font-size: 1.8rem;
}

div.post div.texts a {
  text-decoration: none;
  color: inherit;
}

div.post p.info {
  margin: 6px 0;
  color: #888;
  font-size: 0.7rem;
  font-weight: bold;
  display: flex;
  gap: 5px;
}

div.post p.info a.author {
  text-decoration: none;
  color: #333;
}

div.post p.summary {
  margin: 6px 0;
  line-height: 1.3rem;
}

form.login,
form.register {
  max-width: 400px;
  margin: 0 auto;
}

input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 7px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

button {
  width: 100%;
  display: block;
  background-color: #555;
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 7px 0;
}

form.login h1,
form.register h1 {
  text-align: center;
}

div.post-page div.image {
  max-height: 300px;
  display: flex;
  overflow: hidden;
}

div.post-Page div.image img {
  object-fit: contain;
  object-position: center center;
  width: 100%;
}

div.post-Page a {
  color: #333;
  text-decoration: underline;
}

div.post-Page h1 {
  text-align: center;
  margin: 10px 0 5px;
}

div.post-Page time {
  text-align: center;
  display: block;
  font-size: 0.8rem;
  color: #696767;
}

div.post-Page div.author {
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.8rem;
  font-weight: bold;
}

div.post-Page div.content p {
  line-height: 1.6rem;
}

div.edit-row {
  text-align: center;
  margin-bottom: 20px;
}

div.post-Page a.edit-btn {
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 15px 30px;
  display: inline-block;
  border-radius: 5px;
}